<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cerca Utenti Per Cognome</title>
</head>
<body style="background: lightblue; text-align: center;">
	<h2>Ricerca per cognome</h2>
	<hr>
	<form method="get" action="../servletcognome">
		Cognome<em>(anche parziale)</em>: <input type="text" name="cognome"
			required> <input type="submit" value="Cerca"><br>
		<br>
	</form>

	<form action="../myservlet">
		<input type="submit" value="Sfoglia tutti i contatti">
	</form>
	<br>
	<br>
	<a href="../index.html">Torna alla pagina principale</a>
</body>
</html>