<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cerca per Numero</title>
</head>
<body style="background:lightblue; text-align:center;">
<h1>Cerca utente per numero telefonico:</h1>
<form action="../cercanumero">
<!-- Numero completo: <input type="text" name="numerofull"><br><br> -->
Numero da ricercare: <input type="text" name="numero" placeholder="Immetti qui il numero"><br><br>
<input type="submit" value="Avvia Ricerca">
</form>
<a href="../index.html">Torna alla pagina principale</a>
</body>
</html>