<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inserimento</title>
</head>
<body style="background:lightblue; text-align:center;">
	<h1>Inserisci il nuovo contatto!</h1>
	<form action="../inserisci">
		Nome:<input type="text" name="nome" required><br>
		Cognome:<input type="text" name="cognome" required><br>
		Email:<input type="text" name="email" required><br>
		Numero Tel:<input type="text" name="numero1" required><br>
		Numero Tel:<input type="text" name="numero2" required><br>
		<br><input type="submit" value="Conferma Aggiunta"><br>
	</form>
	<br><br><a href="../index.html">Torna alla pagina principale</a>
</body>
</html>