<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>DatabaseRubrica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>it.presentation.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCognome</display-name>
    <servlet-name>ServletCognome</servlet-name>
    <servlet-class>it.presentation.ServletCognome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCognome</servlet-name>
    <url-pattern>/servletcognome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>it.presentation.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/inserisci</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaNumero</display-name>
    <servlet-name>CercaNumero</servlet-name>
    <servlet-class>it.presentation.CercaNumero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaNumero</servlet-name>
    <url-pattern>/cercanumero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDelete</display-name>
    <servlet-name>ServletDelete</servlet-name>
    <servlet-class>it.presentation.ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDelete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>it.presentation.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/aggiorna</url-pattern>
  </servlet-mapping>
</web-app>